In [2]:
print("안녕")

안녕

In [44]:
l = [1,2,3,4,5]
l.append(6)
len(l)
l

[1, 2, 3, 4, 5, 6]

In [45]:
#반복문
#for 변수명 in 반복할 자료:
for i in l:
    print(i, file=open("a.txt", "w")) #줄을 바꾸지 말고, 한 줄에 출력하기!

In [15]:
list(range(10))
#범위. 10은 없는 숫자

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
list("안녕하세요")

['안', '녕', '하', '세', '요']

In [21]:
list("12345")

['1', '2', '3', '4', '5']

In [25]:
#1부터 10까지 출력하기
a = 0 #1부터 10까지의 더한 값을 저장할 변수
for i in range(1, 11):
    a = a + i
print(a)

55

In [30]:
for i in range(0,11,2):
    a = a + i
print(a)

170

In [31]:
sum(list(range(11)))

55

In [32]:
range(11)

range(0, 11)

In [33]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
min(list(range(11)))

0

In [2]:
while True:
    print("집에 가고 싶다.")
    break

집에 가고 싶다.

In [1]:
print("1,2,3")

1,2,3

In [8]:
cars = ["기아","현대","bmw","audi","toyota"]
for car in cars:
    print(car)
    if car == "bmw":
        print(car.upper())
    else:
        print(car.title())

기아
기아
현대
현대
bmw
BMW
audi
Audi
toyota
Toyota

In [9]:
"나"=="나"

True

In [10]:
"나"=="하희라"

False

In [11]:
score = 90
score >= 90

True

In [14]:
score = 90
#==: 같다. !: 같지 않다.
score == 90, score != 90

(True, False)

In [15]:
우리반학생 = ["박창순","이형석","박성준"]
"박성준" in 우리반학생 #우리반학생에 이순신이 있는가?

True

In [17]:
우리반학생 = ["박창순","이형석","박성준"]
"이순신" not in 우리반학생 #우리반학생에 박성준이 없지?

True

In [18]:
True, False

(True, False)

In [21]:
game_over = 0
if game_over == True: #gabe_over가 True라면
    print("게임오버")
else:
    print("게임중")

게임중

In [22]:
game_over = ""
if game_over == True: #gabe_over가 True라면
    print("게임오버")
else:
    print("게임중")

게임중

In [25]:
game_over = [1]
if game_over == True: #gabe_over가 True라면
    print("게임오버")
else:
    print("게임중")

게임중

In [20]:
game_over == True

False

In [27]:
game_over = 1
if game_over == True: #gabe_over가 True라면
    print("게임오버")
else:
    print("게임중")

게임오버

In [1]:
점수 = 79
#90점 이상은 상, 80점 이상은 중, 나머지는 하
if 점수 >= 90:
    print("상")
else:
    if 점수 >= 80:
        print("중")
    else:
        print("하")

하

In [11]:
점수들 = [100,80,54,29,100,100,79,50]
#90점 이상은 상, 80점 이상은 중, 나머지는 하
for 점수 in 점수들: 
    if 점수 >= 90:
        print("상")
    if 점수 >= 80:
        print("중")
        #들여쓰기 줄만 맞으면 된다.
    else:
        print("하")

상
중
중
하
하
상
중
상
중
하
하

In [10]:
나 = {
    "이름": "김은주",
    "학교":"서전중",
    "나이":53,
    "취미":["독서","음악회참석","유뷰트"], #연속된 자료의 형태가 아님
    0:"이것도 가능?",
    0:"중복키입니다."
}

In [11]:
나[이름]

NameError: name '이름' is not defined

In [12]:
나["이름"]

'김은주'

In [13]:
나[0]

'중복키입니다.'

In [14]:
나.get("재산")

In [15]:
del 나["이름"]
나

{'학교': '서전중', '나이': 53, '취미': ['독서', '음악회참석', '유뷰트'], 0: '중복키입니다.'}

In [17]:
나["이름"] = "김은주"

In [18]:
for i in 나:
    print(i)   #키가 나옴

학교
나이
취미
0
이름

In [22]:
for i in 나:
    print(나[i])  #값이 나온다

서전중
53
['독서', '음악회참석', '유뷰트']
중복키입니다.
김은주

In [20]:
for i in 나:
    print(i, 나[i])

학교 서전중
나이 53
취미 ['독서', '음악회참석', '유뷰트']
0 중복키입니다.
이름 김은주

In [23]:
나.keys()

dict_keys(['학교', '나이', '취미', 0, '이름'])

In [25]:
list(나.keys())

['학교', '나이', '취미', 0, '이름']

In [28]:
나.keys()
나.values() 
나.items()
for item in 나.items():
    print(item)

('학교', '서전중')
('나이', 53)
('취미', ['독서', '음악회참석', '유뷰트'])
(0, '중복키입니다.')
('이름', '김은주')

In [29]:
나.keys()
나.values() 
나.items()
for k,v in 나.items():
    print(k,v)

학교 서전중
나이 53
취미 ['독서', '음악회참석', '유뷰트']
0 중복키입니다.
이름 김은주

In [30]:
나.keys()
나.values() 
나.items()
for k,v in 나.items():
    print(f"키는 {k}이고, 값은 {v}입니다.")

키는 학교이고, 값은 서전중입니다.
키는 나이이고, 값은 53입니다.
키는 취미이고, 값은 ['독서', '음악회참석', '유뷰트']입니다.
키는 0이고, 값은 중복키입니다.입니다.
키는 이름이고, 값은 김은주입니다.